<template>
    <span>
        <button @click="getData()" class="btn btn-lg btn-primary mg-20 float-right"> Обновить самостоятельно</button>
        <v-client-table :columns="columns" :data="currencies" :options="options"></v-client-table>
    </span>
</template>

<script>
    export default {
        data:  function () {
          return {
            currencies: [],
            columns: ['name', 'amount', 'volume'],
            options: {
              headings: {
                name: 'Название валюты',
                amount: 'Количество',
                volume: 'Цена'
              },
              sortable: ['name', 'amount', 'volume'],
              filterable: ['name', 'amount', 'volume']
            }
          }
        },
        mounted() {
            this.getData();
            setInterval(() => this.getData(), 15000)
        },
        methods: {
            getData: function(data) {
                var self = this;
                axios.get('/currencies/get').then(function (response) {
                    self.currencies = response.data;
                }).catch(error => {
                    if (error.response) {
                        $.each(error.response.data, function(index, value ){
                            alert(value);
                        });
                    }
                });
                console.log('Data Updated');
            }
        }
    }
</script>

<style type="text/css">
    .pagination {
        margin-top: 20px;
    }

    .VueTables__table td {
        height: 50px;
    }
</style>