<template>
  <div>
    <div id="map"></div>
  </div>
</template>

<script>
    export default {
        mounted() {
          var self = this;
          ymaps.ready(yandexInit);
          self.getTweets();

          centrifuge.subscribe('twitter', function(message) {
             self.addTweet(message.data.tweet);
          });

          function yandexInit() {
              window.yandex_map = new ymaps.Map("map", {
                  center: [40.7143528, -74.0059731],
                  zoom: 9
              }, {
                  searchControlProvider: 'yandex#search'
              });
          }
        },
        methods: {
            addTweet: function (value) {
              let placemark = {
                  coords: value.coordinates,
                  options: {
                    iconLayout: 'default#image',
                    iconImageHref: value.image,
                    iconImageSize: [48, 48]
                  },
                  properties: {
                    hintContent: value.name,
                    balloonContent: '<div>' + value.text + '</div>'
                }
               };

               let myPlacemark;
               myPlacemark = new ymaps.Placemark(placemark.coords);
               myPlacemark.properties.set(placemark.properties);
               myPlacemark.options.set(placemark.options);
               window.yandex_map.geoObjects.add(myPlacemark);
            },
            getTweets: function() {
                var self = this;

                axios.get('/twitter/get').then(function (response) {
                    $.each(response.data, function(index, value ){
                         self.addTweet(value);
                    });
                }).catch(error => {
                    if (error.response) {
                        $.each(error.response.data, function(index, value ){
                            alert(value);
                        });
                    }
                });
            }
        }
    }
</script>

<style type="text/css">
  #map {
    height: 600px;
    width: 100%;
  }
</style>